* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    background: #467401;
    padding: 80px;
    text-align: center;
    color: white;
}

.navbar {
    display: flex;
    justify-content: center;
    background: black;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background: gray;
    color: black;
    font-weight: bold;
}

.corpo {
    display: flex;
    flex-flow: row wrap;
}

.card {
    flex-grow: 1%;
    background: #ccc;
    height: 200px;
    margin: 1%;
}

/* Se adaptar aos tamanhos de telas */
@media screen and (max-width:700px) {
    /* Se o tamanho da tela for menor que 700 ele faz essa mudança */
    .navbar {
        flex-direction: column;
    }
}